URENT_API_BASE=https://app.urentbike.ru/gatewayclient
URENT_ANDROID_PROFILE=
URENT_PROFILE_FILE=
URENT_TIMEOUT=30
URENT_CLIENT_ID=mobile.client.android
URENT_APP_VERSION=2.2.0
URENT_APP_BUILD=2020
URENT_APP_PACKAGE=ru.urentbike.app
URENT_APP_BRAND=URENT
URENT_REQUEST_VERSION=v2
URENT_TOKEN_SCOPE=bike.api ordering.api location.api customers.api payment.api maintenance.api notification.api log.api ordering.scooter.api driver.bike.lock.offo.api driver.scooter.ninebot.api identity.api offline_access
URENT_MTS_AUTHORIZE_URL=https://login.mts.ru/amserver/oauth2/authorize
URENT_MTS_AUTHENTICATE_URL=https://login.mts.ru/amserver/wsso/authenticate
URENT_MTS_CLIENT_ID=Urent
URENT_MTS_REDIRECT_URI=https://service.urentbike.ru/gatewayclient/api/mts/authorizationcallback
URENT_MTS_SCOPE=info phone profile for_premium scope_list sso openid personal_data
MTS_FINGERPRINT_JSON=
